@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  background-color: #ebe9e2;
}

#main {
  background-color: #f5f5f5;
}

.form-group {
  display: flex;
  font-size: 20px;
}

.textarea-group {
  display: flex;
  font-size: 20px;
}

h2 {
  width: fit-content;
  margin: auto;
  padding: 0 10px;
  background: linear-gradient(transparent 60%, #dbdbda 30%);
}

.bg-half-gray {
  width: fit-content;
  padding: 0 10px;
  background: linear-gradient(transparent 60%, #dbdbda 30%);
}

.about_game_main_phrase {
  width: fit-content;
  background-color: #7992b0;
  color: white;
}

.splide .splide__pagination {
  display: none;
}

.base-evaluation {
  background-color: #82c461;
}

.man-1 {
  top: 800px;
  left: -130px;
}

.man-2 {
  top: 1500px;
  right: -130px;
}

.man-3 {
  top: 2300px;
  left: -130px;
}
.man-4 {
  top: 3500px;
  right: -130px;
}
.man-5 {
  top: 4500px;
  left: -200px;
}
.man-6 {
  top: 6300px;
  right: -130px;
}
.man-7 {
  top: 6600px;
  left: -130px;
}
.man-8 {
  top: 7500px;
  right: -130px;
}

/* カード本体 */
#card {
  position: relative;
  cursor: pointer;
}

/* 擬似要素とpadding-topでカードの高さを指定 */
#card::before {
  content: "";
  display: block;
  padding-top: 290px;
}

/* カード内の画像 */
#card img {
  margin: auto;
}

#card .front img {
  border: 4px solid #000;
  border-radius: 1rem;
}

/* カード裏面・表面の共通スタイル */
#card .back,
#card .front {
  transition: all 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  backface-visibility: hidden;
}

/* カード表面のスタイル */
#card .front {
  transform: rotateY(-180deg);
}

/* ホバー時のカード裏面 */
#card:hover .back {
  transform: rotateY(180deg);
}

/* ホバー時のカード表面 */
#card:hover .front {
  transform: rotateY(0);
}

.movie {
  width: 700px;
  height: 400px;
}

.badge {
  position: absolute;
  top: -15px;
  left: -15px;
}

.rule-section-title {
  background-color: #f5f5f5;
  position: absolute;
  padding: 0 15px;
  top: -40px;
}

.rule-section-title4 {
  background-color: #f5f5f5;
  position: absolute;
  padding: 0 15px;
  top: -110px;
}

@media screen and (max-width: 768px) {
  body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    background-color: #ebe9e2;
  }

  .movie {
    width: 300px;
    height: 200px;
  }

  .man-1,
  .man-2,
  .man-3,
  .man-4,
  .man-5,
  .man-6,
  .man-7,
  .man-8 {
    position: absolute;
    width: 100px;
  }

  .man-1 {
    top: 650px;
    left: -30px;
  }

  .man-2 {
    top: 1450px;
    right: -30px;
  }

  .man-3 {
    top: 2200px;
    left: -20px;
  }
  .man-4 {
    top: 3500px;
    right: -30px;
  }
  .man-5 {
    top: 4600px;
    left: -30px;
  }
  .man-6 {
    top: 7300px;
    right: -30px;
  }
  .man-7 {
    top: 11000px;
    left: -20px;
  }
  .man-8 {
    top: 12300px;
    right: -30px;
  }

  .splide .splide__arrow {
    background-color: transparent;
  }

  .splide .splide__arrow--prev {
    left: -2em;
  }
  .splide .splide__arrow--next {
    right: -2em;
  }

  #card::before {
    content: "";
    display: block;
    padding-top: 210px;
  }
}
